.rating_ctn {
    display: flex;
    width: 100%;
    position: fixed;
    opacity: 0;
    z-index: -10;
    top: 47px;
    left: 0;
    height: calc(100% - 88px);
    background-color: rgba(0,0,0,0.75);
    transition: all 0.1s ease-in-out;

    &:hover {
        cursor: pointer;
    }
    .rating {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 80%;
        height: 90%;
        background-color: white;
        padding: 20px;
        margin: 25px auto 0 auto;
        border-radius: 10px;
    
        & img {
            width: 16px;
            height: 16px;
        }
        &:hover {
            cursor: default;
        }

        & .rating_header {
            width: 95%;
            margin: 0 auto;
            padding: 0 10px 10px 10px;
            border-bottom: 1px solid rgba(0,0,0,0.25);
            display: flex;
            gap: 20px;
            align-items: baseline;
            & .rating_stars_sum {
                display: flex;
                align-items: baseline;
                gap: 10px;
            }
        }
    
        & .rating_main {
            width: 95%;
            min-height: 250px;
            margin: 0 auto;
            overflow-y: scroll;
    
            & .single_rating {
                display: flex;
                flex-direction: column;
                padding: 10px;
                border-radius: 10px;
                background-color: rgba(255, 128, 0, 0.075);
                margin: 10px 0;
    
                & .rating_details {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 10px;
    
                    & .rating_guest {
                        display: flex;
                        font-weight: 600;
                        align-items: center;
                        padding-bottom: 5px;
                        gap: 10px;
                    }
                }
                & .rating_text {
                    padding-top: 5px;
                }
            }
        }
    }
}

@media(max-width: 600px) {
    .rating_ctn {
        & .rating {
            & .rating_header {
                padding: 0 0 10px 0;
                justify-content: space-between;
                gap: 0px;
                & h2 {
                    font-size: 14px;
                }
                & .rating_stars_sum {
                    font-size: 14px;

                    & img {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
            & .rating_main {
                & .single_rating {
                    margin-right: 10px;
                    & .rating_details {
                        & .rating_guest {
                            font-size: 14px;
                            flex-direction: row;
                            align-items: baseline;
                            white-space: nowrap;
                            flex-wrap: wrap;
                            padding-bottom: 0px;
                            gap: 0px;

                            & img {
                                height: 14px;
                                width: 14px;
                            }

                            & span {
                                margin-left: 10px;
                                width: 160px;
                            }
                        }
                    }
                }
            }
        }
    }
}