:root{
    --bestellapp-orange: rgb(255, 128, 0);
}

* {
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100%;
    background-color: white;
    min-width: 332px;
}

footer {
    z-index: 16;
    text-align: center;
    box-shadow: 0 0 5px black;
    background-color: var(--bestellapp-orange);
    font-size: 12px;
    padding: 21px 0 5px 0;
    position: fixed;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
}

.content90 {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.cart_or_home_button {
    z-index: 16;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 2px black;
    transition: all 0.1s ease-in-out;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translate(-50%);
    background-color: white;
    & img {
        height: 32px;
        width: 32px;
    }
    &:hover {
        box-shadow: 0 0 2px black inset;
        cursor: pointer;
    }
    &:active {
        scale: 0.95;
    }
}

#cart_icon_with_count {
    display: none;
    bottom: 19px;
    left: 50vw;
    & .count_in_cart {
        position: absolute;
        background-color: white;
        right: 7px;
        top: 27px;
        width: 16px;
        height: 16px;
        font-size: 10px;
        text-align: center;
        border-radius: 50%;
        color: var(--bestellapp-orange);
        border: 1px solid var(--bestellapp-orange);
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#back_to_start_icon {
    display: none;
    bottom: 19px;
    right: 50vw;
    transform: translate(50%);
    & a {
        height: 32px;
    }
}

.open_close_soft {
    opacity: 1;
    z-index: 30;
    transition: all 0.2s ease-in-out;
}

@media(min-width: 1604px) {
    #back_to_start_icon {
        right: calc(((100vw - 1440px) / 2) + 150px);
        transform: translate(50%);
    }
}

@media(min-width: 1000px) {
    #cart_icon_with_count {
        display: none;
    }
    #back_to_start_icon {
        right: calc(5vw + 150px);
        transform: translate(50%);
    }
}

@media(max-width: 1000px) {
    #cart_icon_with_count {
        display: flex;
    }
}
